PORT = add your port number here
MONGO_URI = add your MongoDB URI here
JWT_SECRET = add your JWT secret here

EMAIL_USER = add your email user here
EMAIL_PASS = add your email password here

CLOUDINARY_CLOUD_NAME = add your Cloudinary cloud name here
CLOUDINARY_API_KEY = add your Cloudinary API key here
CLOUDINARY_API_SECRET = add your Cloudinary API secret here

RAZORPAY_KEY_ID = add your Razorpay key ID here
RAZORPAY_KEY_SECRET = add your Razorpay key secret here

FRONTEND_URL = add your frontend URL here (e.g., http://localhost:3000)