.react-tel-input {
    width: 100%;
}

.react-tel-input .form-control {
    width: 100% !important;
    height: 56px !important;
    background: #f8ede1 !important;
    color: #2f2116 !important;
    border: 1px solid #d9c3a7 !important;
    border-radius: 4px !important;
    font-size: 16px !important;
    padding-left: 55px !important;
    box-sizing: border-box;
}

.react-tel-input .flag-dropdown {
    background: #f8ede1 !important;
    border: 1px solid #d9c3a7 !important;
    border-radius: 8px 0 0 8px !important;
}

.react-tel-input .selected-flag {
    background: #f8ede1 !important;
    border-radius: 4px 0 0 4px !important;
}

.react-tel-input .search {
    background: #f8ede1 !important;
}

.react-tel-input .country-list {
    background: #fff8ef !important;
    color: #2f2116 !important;
    border: 1px solid #d9c3a7 !important;
}

.react-tel-input .country-list .country:hover {
    background: #d9c3a7 !important;
}

.react-tel-input .country-list .country.highlight {
    background: #d9c3a7 !important;
    color: #2f2116 !important;
}

.react-tel-input .country-list .country {
    text-align: left;
    padding: 10px 15px !important;
}

.react-tel-input .search-box {
    background: #f8ede1 !important;
    color: #2f2116 !important;
    border: 1px solid #d9c3a7 !important;
}